.tile {
    padding: 5px;
    background-color: gray;
    height: 100%;
    width: 100%;
}

.tileContainer {
    padding: 1px;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.jstile {
    width:1200px;
    height:800px;
}
